<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>

<table border=1>
	<tr>
		<th>Name</th>
		<td><%= @location.name %></td>
	</tr>		
	<tr>
		<th>Address</th>
		<td><%= @location.address %></td>
	</tr>			
	<tr>
		<th>Latitude</th>
		<td><%= @location.latitude %></td>
	</tr>
	<tr>
		<th>Longitude</th>
		<td><%= @location.longitude %></td>
	</tr>
</table>

<h3>Nearby locations</h3>
<ul>
<% for location in @location.nearbys(10, :units => :km) %>
  <li><%= link_to location.address, location %> (<%= location.distance.round(2) %> km)</li>
<% end %>
</ul>