<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<header>
	<title><%= @page_title%></title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>	
</header>
<body>
	<table>
		<tr>
			<td><%= link_to "Home",
							:controller => "main",
							:action => "welcome" %></td>				
			<% if @c %>
			<td><%= link_to "View cart",
							:controller => "customer",
							:action => "view_cart" %></td>
			<td><%= link_to "Log out",
							:controller => "customer",
							:action => "logout" %></td>
			<td><%= link_to "Manage",
							:controller => "manage",
							:action => "main" %></td>
			<% end %>
			<td>
				<%= link_to "Push Notification",
							:controller => "manage",
							:action => "push_notification" %>
			</td>
			<td>
				<%= link_to "Location",
							:controller => "locations",
							:action => "index" %>
			</td>
		</tr>
	</table>
	<h1>My Rails Playground</h1>
	<%= yield %>
	<hr/>
	<p>Copyright &copy; 2015, Wayne</p>		
</body>
</html>
